<div id="demo" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
  <div class="carousel-inner">

    <div class="carousel-item" *ngFor="let item of carouselItems; let i = index" [class.active]="i === 0">
      <ng-container *ngIf="item.type === 'video'">
        <video #videoPlayer1 class="d-block w-100 video-fluid" autoplay muted>
          <source [src]="item.url"  >
        </video>

      </ng-container>
      <ng-container *ngIf="item.type === 'image'">
        <img [src]="item.url" alt="Chicago" class="d-block w-100">
      </ng-container>
    </div>
  </div>


  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>


<!--<div id="demo" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
  <div class="carousel-inner">
   
    <div class="carousel-item active">
      <video #videoPlayer1 class="d-block w-100 video-fluid" autoplay muted>
        <source src="/assets/Summer.mp4" type="video/mp4">
      </video>
    </div>
    <div class="carousel-item">
      <img src="/assets/Capture1.png" alt="Chicago" class="d-block w-100">
    </div> 
    <div class="carousel-item" >
      <video #videoPlayer1 class="d-block w-100 video-fluid" autoplay muted>
        <source src="/assets/video1.mp4" type="video/mp4">
      </video>
    </div>
    <div class="carousel-item" >
      <video #videoPlayer1 class="d-block w-100 video-fluid" autoplay muted>
        <source src="/assets/Golf.mp4" type="video/mp4">
      </video>
    </div>
  </div>


  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div> -->